name: Release

on:
  push:
    branches:
      - main

env:
  CI: true

jobs:
  release:
    name: Release
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write # to create release
      issues: write # to post issue comments
      pull-requests: write # to create pull request
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: 'package.json'
          registry-url: https://npm.pkg.github.com/
          scope: '@noshiro-pf'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ vars.CHANGESETS_BOT_APP_ID }}
          private-key: ${{ secrets.CHANGESETS_BOT_PRIVATE_KEY }}

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@c48e67d110a68bc90ccf1098e9646092baacaa87 # v1.6.0
        with:
          publish: pnpm run ci:publish
          version: pnpm run ci:version-packages
          title: 'chore: version packages'
          commit: 'chore: version packages'
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          NPM_TOKEN: ${{ secrets.CHANGESET_PAT }}
          NODE_AUTH_TOKEN: ${{ secrets.CHANGESET_PAT }}
