name: Type Check

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches-ignore:
      - 'develop'
      - 'develop*'
    paths-ignore:
      - '.gitignore'
      # - '.cspell.json'
      # - '**.md'
      # - '**.txt'
      # - 'docs/**'

  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - '.gitignore'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  type-check:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      fail-fast: true
      matrix:
        command:
          - ws:test:cov
          - ws:lint
          - ws:build

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        id: setup_node_id
        with:
          node-version-file: 'package.json'
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci --engine-strict

      # NOTE: To include this workflow in the branch protection rule status check,
      # skip each steps instead of skipping the entire workflow with paths-ignore.
      - name: Check diff
        id: check_diff_type
        run: npx tsx ./scripts/github-actions/should-run.mjs

      - name: Run "${{ matrix.command }}"
        if: steps.check_diff_type.outputs.should_run == 'true'
        run: npm run ${{ matrix.command }}

      - name: Upload coverage reports to Codecov
        if: steps.check_diff_type.outputs.should_run == 'true'
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
